body {
  @extend .row;
  background-color: $light-gray;
}

label, input[type='text'] {
  display: block;
}

button {
  @extend .button;
}

select {
  // hide default dropdown arrow
  -webkit-appearance: none;
  appearance: none !important;

  &[aria-invalid='true'] {
    color: $alert-color;
  }
}

.invalid {
  color: $alert-color;
}

main {
  @extend .column;
}
